swish_forward<{{name|upper}}_NB_OUTPUTS,
              {{name|upper}}_OUTPUTS_HEIGHT,
              {{name|upper}}_OUTPUTS_WIDTH>
              ({{input_name}}, {{output_name}}, {{name|upper}}_BETAS);