.. mermaid::
    :align: center

    %%{init: {'flowchart': { 'curve': 'monotoneY'}, 'fontFamily': 'Verdana' } }%%
    graph TD

        Op("<b>{{ op_name }}</b>
        {% if attributes|length != 0 %} Attributes:{% endif %}
        {% for attr in attributes -%}
        <sub><em>{{ attr }}</em></sub>
        {% endfor %}
        "):::operator

        {% for in_name in inputs -%}
            In{{ loop.index-1 }}[{{ in_name }}]:::text-only -->|"In[{{ loop.index-1 }}]"| Op
        {% endfor %}

        {% for out_name in outputs -%}
            Op -->|"Out[{{ loop.index-1 }}]"| Out{{ loop.index-1 }}[{{ out_name }}]:::text-only
        {% endfor %}

        classDef text-only fill-opacity:0, stroke-opacity:0;

        classDef operator stroke-opacity:0;
